{% extends 'core/base.html' %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" >
    En Mainstock, nos especializamos en facilitar la gestión de inventarios para negocios dedicados a la venta de bebidas y licores. Nuestro software para control de stock está diseñado específicamente para las necesidades de las botillerías, permitiendo un manejo eficiente de los productos, evitando quiebres de stock y asegurando que siempre tengas a disposición lo que tus clientes necesitan.

    Aunque nuestro enfoque principal son las botillerías, Mainstock Botillerías es altamente flexible y puede adaptarse a otros tipos de negocios, como almacenes, supermercados, y tiendas minoristas. Desde el monitoreo en tiempo real hasta reportes detallados, nuestro software está preparado para optimizar tus procesos y ayudarte a tomar decisiones informadas.
    
    Disponible en computadora, tablet y dispositivos móviles, Mainstock Botillerías te da el control total de tu inventario desde cualquier lugar. Además, cuenta con herramientas avanzadas de personalización para ajustarse a las particularidades de tu negocio, independientemente del rubro.
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}
