{% extends 'core/base.html' %}

{% block content %}
    <h1 class="text-center mb-4">{% if form.instance.pk %}Editar{% else %}Crear{% endif %} Producto</h1>

    <form method="post" class="w-50 mx-auto">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary w-100">{% if form.instance.pk %}Actualizar{% else %}Crear{% endif %}</button>
    </form>

    <a href="javascript:history.back()" class="btn btn-link mt-4 d-block text-center">Volver</a>
{% endblock %}
